<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" style="background-image: url(../../../assets/images/tourismbooking.jpg); background-repeat: no-repeat; background-size: 100% 105%;">
  <div style="padding: 10px;">
      <div fxLayout="column" fxLayoutAlign="center center" class="login-card">
        <mat-card class="example-card">
          <mat-toolbar class="title" color="primary">
            <i class="material-icons">book_online</i>
            Tour Booking
          </mat-toolbar>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">location_on</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Tourism Place</mat-label>
                    <input matInput type="text" [formControl]="registerData.place" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Name</mat-label>
                    <input matInput type="text" pattern="[A-Za-z]{3,}" pattern="[^'\x22]+" [formControl]="registerData.name" placeholder="Name" required>
                      <mat-error *ngIf="registerData.name.invalid">{{getMessageName()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">person_add</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>No of Persons</mat-label>
                    <input matInput type="number" [formControl]="registerData.nop" placeholder="No. Of Persons" required>
                    <mat-error *ngIf="registerData.nop.invalid">{{getMessageNop()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">phone</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Phone Number</mat-label>
                    <input matInput type="number" pattern=".{10}" [formControl]="registerData.phone" placeholder="Phone Number" required>
                    <mat-error *ngIf="registerData.phone.invalid">{{getMessagePhone()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">date_range</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Date of Arrival</mat-label>
                    <input matInput type="date" [formControl]="registerData.doa" placeholder="Arrival Date" required>
                    <mat-error *ngIf="registerData.doa.invalid">{{getMessageDoa()}}</mat-error>
                    </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">date_range</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Date of Depature</mat-label>
                    <input matInput type="date" [formControl]="registerData.dod" placeholder="Depature Date" required>
                    <mat-error *ngIf="registerData.dod.invalid">{{getMessageDod()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">email</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Email</mat-label>
                      <input matInput type="text" pattern="[^'\x22]+" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [formControl]="registerData.email" placeholder="Email" required>
                      <mat-error *ngIf="registerData.email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Living Place</mat-label>
                    <input matInput type="text" pattern="[A-Za-z]{3,}" pattern="[^'\x22]+" [formControl]="registerData.lplace" placeholder="Living Place" required>
                      <mat-error *ngIf="registerData.lplace.invalid">{{getMessageLplace()}}</mat-error>
                </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="registerUser()" [disabled]="registerData.phone.invalid || registerData.email.invalid || registerData.name.invalid || registerData.nop.invalid || registerData.lplace.invalid || registerData.doa.invalid || registerData.dod.invalid" class="example-button">Book My Tour</button>
              </div>
        </mat-card>
      </div>
    </div>
  </div>