.jumbo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    padding: 70px 30px;
    background: rgba(57, 208, 228, 0.5);
    color: #353232;;
    min-height: 100px;
}
.button {
  margin-right: 8px;
  box-shadow: 5px 5px #888888;
}